.card{
    margin: 1.5rem;
    background-color: #dfdddd;
}
.navbar-brand{
    font-size: 1.5rem !important;
    margin-left: 15rem;
    padding: auto;
    font-family:Poppins !important;
}
.nav-link{
    font-size: 1.5rem !important;
    font-family:Poppins !important;
    padding: auto;
}
.nav-items:hover{
    color: #dfdddd !important;
}
.navbar-nav{
    margin-right: 15rem;
}
#about-me{
    margin-top: 5rem !important;
    margin-bottom: 10rem !important;
}
.para{
    font-size: 1.5rem;
}
.pro{
    margin-bottom: 2rem !important;
    margin-top: 1.5rem;
}